<form>
    <div class="form-group">
      <label for="nomeProd">Nome do Produto</label>
      <input type="text" class="form-control" id="nomeProd" placeholder="Informe o nome do produto.">
      
    </div>

    <div class="form-group">
        <label for="descProd">Descrição</label>
        <input type="text" class="form-control" id="descProd" placeholder="Informe uma descrição">
        
      </div>

      <div class="form-group">
        <label for="qtdEstoque">Quantidade em estoque</label>
        <input type="text" class="form-control" id="qtdEstoque" placeholder="Informe uma descrição">
        
      </div>

     
      <app-file-upload-components></app-file-upload-components>
   
   

  
    
  </form>