<app-navbar></app-navbar>

<div class="container mt-2 text-center">
    <h2>Produtos</h2>

    <app-cadastro-produtos></app-cadastro-produtos>


    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let produto of produtos">
            <td>{{produto.nome}}</td>
            <td>{{produto.descricao}}</td>
          </tr>

      <h1 ></h1>

 
     

   <app-cards></app-cards>
      

