.__containner__dashboard{
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
table{
    background-color: gray;
}

.__table{
    display: flex;
   justify-content: center;
}

.__img__container{
    width: 60px;
    height: 60px;
}

