<app-navbar></app-navbar>

<div class="container mt-2 text-center __containner__dashboard">
  <h2>Produtos</h2>

  <app-cadastro-produtos></app-cadastro-produtos>


  <div class="__table">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{produto.nome}}</td>
          <td>{{produto.descricao}}</td>
        </tr>
      </tbody>

    </table>
  </div>
  <h1></h1>




  <app-cards></app-cards>