/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
 
}

body{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
 
   
}
.__containner__dashboard{
    background-color: rgb(161, 165, 169);
}

.wrapper{
    background-color: rgba(190, 184, 185, 0.93);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.logo{
    height: 130px;
    margin-bottom: 10px;
}

