/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
 
}

body{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #b3a9a9;
}

.wrapper{
    background-color: rgba(149, 137, 140, 0.93);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.logo{
    height: 130px;
    margin-bottom: 10px;
}

.body{
    max-width: 300px;
    width: 100%;
    text-align: center;
}