*{margin:0; padding: 0;box-sizing: border-box;}

.container{
    display: flex;
    
}

.__findProduct{
    padding: 1rem;
    color: rgb(245, 247, 245);
    background-color: rgba(138, 138, 138, 0.644);
    font-size: large;
    border-radius: 5px;
    display: flex;
}

.__findProduct > input{
    border-radius: 5px;

}

.__findProduct > button{
    border-radius: 5px;

}