* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .card{
    width: 250px;
    height: 300px;
    padding: 10px;
  }
  
  .__container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    
   


  }
 .card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    font-style: bold;
    padding:1rem;
    border: 1px solid red;

    

 }

 .card-title{
    font-size: 20px;
 }
  .__container > ul{
    display: flex;
    justify-content: center;
     list-style: none;
     padding: 1rem;
 
  }
 

 

  @media screen and (min-width: 380px) {
    .__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

  
